body {
font-family:"NotoSerifJP-Medium""Cormorant-Medium", serif; 
font-size: 30px;
font-weight: 500;
color: #222;
}

a:link {
color: rgb(227,45,6);
}

a:visited {
color: rgb(136,99,44)
}

hover{
  color: 
rgb(127,13,13)
}

header, main, article, section, contact me{
 background-color: #C5C5C4;
}

header{
font-size: 24px;
}

nav{
font-style: italic;
}

body{
font-family: "NotoSerifJP-Medium""Cormorant-Medium", serif;
font-size: 24px;
}

#skills{
background-color:#ccc;
}

#education{
background-color:#ccc;
}

#work experience{
background-color:#ccc;
}

#contact me{
background-color:#ccc;
}
 
h1 {
font-family:"NotoSerifJP-Medium", "CormorantGaramond-Medium", serif;
font-size: 40px;
font-weight: 500;
}

h2 {
font-family:"NotoSerifJP-Medium", "CormorantGaramond-Medium", serif;
font-size: 30px;
font-weight: 500;
}

h3 {  
font-family:"NotoSerifJP-Medium", "CormorantGaramond-Medium", serif;
font-style: italic;
font-size: 22px;
}

li {  
font-family:"NotoSerifJP-Medium", "CormorantGaramond-Medium", serif;
font-size: 15px;
}

p {  
font-family:"NotoSerifJP-Medium", "CormorantGaramond-Medium", serif;
font-size: 20px;
}

main {
  border: 0px solid #222;
  padding: 2em;
}

img {
  display: block;
}

img {
	height: 300px;
}

img { 
 float: right; 
 padding: 0 20px 20px 0;
.wrapper {
  display: grid;
  grid-gap: 0.5px;
}
.wrapper > * {
  grid-column: col-start / span 12;
}
.content {
    grid-column: col-start 3 / span 8;
    grid-row: 2 / 4;
 }

.img {
    grid-column: span 2;
    grid-row: 2/4;
}

  .main-footer {
    grid-column: col-start / span 12;
}
